<div class="back">
  <div class="container">
    <header>
      <h1>Key Value App</h1>
    </header>

    <div class="input-div">
      <label>Type Here: <br><input type="text" (keydown)="onKeyDown($event)" maxlength="0"></label>
    </div>

    <div class="table-div">
      <table>
        <th>Key Value</th>
        <th>Key code</th>
        <th>Shift Key</th>
        <th>Ctrl Key</th>
        <th>Alt Key</th>
        <th>Meta Key</th>

        <tr *ngFor="let key of keysHistory">
          <td>{{ key.pressedKey }}</td>
          <td>{{ key.charCode }}</td>
          <td>{{ key.shiftKey }}</td>
          <td>{{ key.controlKey }}</td>
          <td>{{ key.altKey }}</td>
          <td>{{ key.metaKey }}</td>
        </tr>
      </table>
    </div>
  </div>

  <footer>
    <div class="icons-div">
      <a href="https://github.com/VictorMuniz7" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/victor-muniz-236842267/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </footer>
</div>


